// bower:scss
// endbower



.logo{
     margin: 0 20%;
    }                     



  

.quote{
        font-family: helvetica;
        color: red;
}

button{
    margin: 0% 35% 5%;
    width: 30%;
    height: 40px;
    border-radius: 15px;
    background:#269029;
    border: 1px solid black;
}